.product-upload-image .action {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
}

.product-upload-image .action input[type=file] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.product-upload-image .error {
    color: red;
    margin: 0;
}

.product-upload-image .progress {
    width: 100%;
    max-width: 244px;
    opacity: 0;
}

.product-upload-image .image-list>div {
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}

.product-upload-image .image-item-top .delete {
    float: right;
}

.product-upload-image .image-item-top .delete>a {
    font-size: 21px;
    text-decoration: none;
    color: #1a1a1a;
    line-height: 21px;
    font-weight: 500;
}
